.arclight/
.vscode/
banned-ips.json
banned-players.json
commands.yml
crash-reports/
defaultconfigs/
forge-*.jar
help.yml
installer_stripped.jar.log
journeymap/
libraries/
logs/
mohist-config/entities.yml
mohist-config/tiles.yml
ops.json
patchouli_books/
permissions.yml
run.bat
run.sh
user_jvm_args.txt
usercache.json
usernamecache.json
whitelist.json
world/

# 配置文件
config/biomesoplenty/
config/botania-common.toml
config/chinjufumod.toml
config/cucumber-common.toml
config/cucumber-tags.json
config/extrabotany-common.toml
config/forge-common.toml
config/jeresources-common.toml
config/jeresources.toml
config/littleframes.json
config/luckperms/translations/
config/mysticalagradditions-common.toml
config/mysticalagriculture-common.toml
config/storagedrawers-common.toml
config/terrablender.toml
config/waystones-common.toml
config/waystones-server.toml

# 插件配置文件
plugins/AuthMe/authme.db
plugins/AuthMe/authme.log
plugins/AuthMe/email.html
plugins/AuthMe/messages/
plugins/AuthMe/playerdata/
plugins/AuthMe/recovery_code_email.html
plugins/AuthMe/spawn.yml
plugins/AuthMe/verification_code_email.html
plugins/AuthMe/welcome.txt
plugins/CommandPanels/blocks.yml
plugins/CommandPanels/data.yml
plugins/CommandPanels/inventories.yml
plugins/CommandPanels/panels/example_bottom.yml
plugins/CommandPanels/panels/example_middle_one.yml
plugins/CommandPanels/panels/example_middle_two.yml
plugins/CommandPanels/panels/example_top.yml
plugins/CommandPanels/panels/template.yml
plugins/Essentials/custom_items.yml
plugins/Essentials/items.js
plugins/Essentials/items.json
plugins/Essentials/kits.yml
plugins/Essentials/motd.txt
plugins/Essentials/tpr.yml
plugins/Essentials/upgrades-done.yml
plugins/Essentials/userdata/
plugins/Essentials/usermap.bin
plugins/Essentials/usermap.csv
plugins/Essentials/uuids.bin
plugins/LuckPerms/contexts.json
plugins/LuckPerms/editor-keystore.json
plugins/LuckPerms/libs/
plugins/LuckPerms/translations
plugins/LuckPerms/yaml-storage/actions.txt
plugins/LuckPerms/yaml-storage/users/
plugins/LuckPerms/yaml-storage/uuidcache.txt
plugins/Multiverse-Core/scripts/scripts.bin
plugins/ProtocolLib/config.yml
plugins/ProtocolLib/lastupdate
plugins/RedProtect/backups/
plugins/RedProtect/blocks.conf
plugins/RedProtect/data/
plugins/RedProtect/guiZH-CN.properties
plugins/RedProtect/guiconfig.conf
plugins/RedProtect/langZH-CN.properties
plugins/RedProtect/schematics/
plugins/RedProtect/signs.conf
plugins/dynmap/
